{% extends "main/base.html" %}

{% block title %}
Login
{% endblock %}
{% load crispy_forms_tags %}
{% block style %}

  @media screen and (min-width: 1060px){


    .student-table{
      width:900px;
      margin: auto;
      padding: 50px;
      border: 1px solid black;
      border-radius: 25px;
      background: #fff;
    }

    
  }
{% endblock style %}
<a href="/"><button type="button" class="btn btn-success mb-4">Back</button></a>
{% block body %}
<a href="/"><button type="button" class="btn btn-success mb-4">Back</button></a>

  <div class="student-table">
  <form method="post" class="form-group">
  {% csrf_token %}
  {{form|crispy}}
  <p> Forgot Password? Reach out to <b>Tanmay</b> for help </p>
  <button type="submit" class="btn btn-success mb-3 mt-3"> Change Password </button>
  </form>
  </div>
{% endblock %}