{% extends "main/base.html" %}

{% block title %}
    Mark Attendence
{% endblock title %}    


{% block style %}

  @media screen and (min-width: 1060px){
    .student-table{
      width:900px;
      margin: auto;
      padding: 50px;
      border: 1px solid black;
      border-radius: 25px;
      background: #fff;

    }
    
  }
{% endblock style %}


{% block body %}
    <a href="/"><button type="button" class="btn btn-success mb-4">Back</button></a>
    <div class= "student-table">
        {% if date_not_filled %}
            <div class= "alert alert-danger" role="alert">
                <p>Please fill the date of the class. Note that you'll have to fill up the Attendence Records once again. </p>
            </div>
        {% endif %}
        <form method="post" action="#">
            {% csrf_token %}
            <div class="form-group">
                <label for="tutorname">Tutor's Name</label>
                <input type="text" class="form-control" id="tutorname"  value= "{{user.first_name}} {{user.last_name}}" readonly>
            </div>
            <br>
            <div class="form-group">
                <label for="classdate">Date of Class</label>
                <input type="date" class="form-control" id="classdate" name="date"> 
            </div>
            <br>

            <div class="form-group">
                <label for="classtime">Time of Class</label>
                <select class="form-select" aria-label="Default select example" id="classtime" name="time">
                    <option value="2">2 p.m.</option>
                    <option value="3">3 p.m.</option>
                    <option value="4">4 p.m.</option>
                    <option value="4">5 p.m.</option>
                    <option value="4">6 p.m.</option>
                </select>
            </div>
            <br>

             <div class="form-group">  
                 <div class="alert alert-primary" role="alert">
                     <h3> Abbreviations </h3>
                     <ul>
                        <li> <b> P </b>: Present </li>
                        <li> <b> IA </b>: Informed Absence </li>
                        <li> <b> UA </b>: Uninformed Absence </li>
                        <li> <b> NONE </b>: None of these </li>
                     </ul>
                </div>        
                <div class="accordion">
                {% for grade, kids in students_class_wise.items %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{grade}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{grade}}" aria-expanded="false" aria-controls="collapse{{grade}}">
                            Grade {{grade}}
                        </button>
                        </h2>
                        <div id="collapse{{grade}}" class="accordion-collapse collapse" aria-labelledby="heading{{grade}}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">  

                            <table class="table m-1">
                                <thead>
                                    <tr>
                                    <th scope="col" style="width:10%;">#</th>
                                    <th scope="col" style="width:50%;">Student</th>
                                    <th scope="col" style="width:10%;">P</th>
                                    <th scope="col" style="width:10%;">IA</th>
                                    <th scope="col" style="width:10%;">UA</th>
                                    <th scope="col" style="width:10%;">NONE</th>

                                    </tr>
                                </thead>

                                <tbody>
                                {% for student in kids %}
                                    
                                    <tr>
                                        <th scope="row" class="index"></th>
                                        <td>{{student}}</td>
                                        <td><input class="form-check-input" type="radio" name="c{{student.id}}" value="present"></td>
                                        <td><input class="form-check-input" type="radio" name="c{{student.id}}" value="informed"></td>
                                        <td><input class="form-check-input" type="radio" name="c{{student.id}}" value="uninformed"></td>
                                        <td><input class="form-check-input" type="radio" name="c{{student.id}}" value="none" checked></td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                            

                        </div>
                        </div>
                    </div>
                {% endfor %}
                </div><!--accordion-->
            </div>
            <br>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> <!--student-table-->
{% endblock body %}

{% block script %}
  indexTable = (t)=> {
  indexes= t.getElementsByClassName("index");
  for (let i=1; i<=indexes.length; i++){
    indexes[i-1].innerHTML= i;
  }
}

document.addEventListener('DOMContentLoaded', ()=>{
  tables= document.getElementsByTagName("table")
  for (let i=0; i<tables.length; i++){
    indexTable(tables[i]);
  }
});

{% endblock script %}

