{% extends "main/base.html"%}

{% block title%}
Create an Account
{% endblock %}

{% block style %}

  @media screen and (min-width: 1060px){


    .student-table{
      width:900px;
      margin: auto;
      padding: 50px;
      border: 1px solid black;
      border-radius: 25px;
      background: #fff;
    }

    
  }
{% endblock style %}


{% load crispy_forms_tags %}
{% block body %}
{% if user.is_authenticated %} 

    
      <div class= "student-table">
        <a href="/"><button type="button" class="btn btn-success mb-5">Go Back to Home</button></a>
        <h1 style="color: green;"> You are logged in already. </h1>
      </div>
    

  {% else %}
      <div class= "student-table">
      {% if invalid %}
        <div class="alert alert-danger" role="alert">
          You did not follow some of the rule(s) of registration! Please read the rules carefully.
        </div>
      {% endif %}
      <form method="POST" class= "form-group">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class= "btn btn-success">
          Register
          </button>
      </form>
      </div>

{% endif %}
{% endblock %}

