{% extends "main/base.html" %}

{% block title %}
    Home
{% endblock title %}    


{% block style %}

  @media screen and (min-width: 1060px){
    .student-table{
      width:900px;
      margin: auto;
      padding: 50px;
      border: 1px solid black;
      border-radius: 25px;
      background: #fff;

    }
    
  }
{% endblock style %}


{% block body %}
<div class= "student-table">


{% for grade, kids in students.items %}
  <h1> Class {{grade}} </h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 15%;">#</th>
        <th scope="col" style="width: 40%;">Student</th>
        <th scope="col" style="width: 15%;">Presences</th>
        <th scope="col" style="width: 15%;">Absences</th>
        <th scope="col" style="width: 15%;">Details</th>
      </tr>
    </thead>
    <tbody>

      {% for kid in kids %}
        <tr>
          <th scope="row" class="index"></th>
          <td>{{kid}}</td>
          <td>{{kid.num_present}}</td>
          <td>{{kid.num_absent_total}}</td>
          <td> <a href="/student/{{kid.id}}"><button type="button" class="btn btn-primary">Click Here</button></a></td>
        </tr>
      {% endfor %}

    </tbody>  
  </table>
{% endfor %}
</div> <!--student-table-->
{% endblock body %}

{% block script %}
  indexTable = (t)=> {
  indexes= t.getElementsByClassName("index");
  for (let i=1; i<=indexes.length; i++){
    indexes[i-1].innerHTML= i;
  }
}

document.addEventListener('DOMContentLoaded', ()=>{
  tables= document.getElementsByTagName("table")
  for (let i=0; i<tables.length; i++){
    indexTable(tables[i]);
  }
});

{% endblock script %}
